$darker-purple: #501EB4;

.app__footer {
  background: #fbfbfb;
  padding: 50px;
  title {
    color: black !important;
  }

  &__anchor{
    color: $darker-purple !important;
  }
}

.flexOne {
  flex: 1;
}
